<template>
    <div id="app">
        <div class="container">
                <h1 class="display-1 pb-5">Notes app</h1>
            <NotesList/>
        </div>
    </div>
</template>

<script>
    import NotesList from './components/NotesList'

    export default {
        name: 'app',
        components: {
            NotesList
        }
    }
</script>

<style lang="scss">
    @import "~bootstrap/scss/bootstrap";

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;

    }
</style>
