<template>
    <div class="addnote form">
        <div class="form-group">
            <label for="note-text">New note text:</label>
            <div class="alert" v-bind:class="alertClass" v-if="showResult">{{resultText}}</div>
            <textarea id="note-text" class="form-control" v-model="noteText" v-on:keyup.ctrl.enter="addnote"></textarea>
        </div>
        <div class="form-group d-flex">
            <button class="btn btn-primary btn-sm ml-auto" v-on:click="addnote">Add note
                ( or press <kbd>ctrl</kbd> + <kbd>⏎</kbd> )
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'AddNoteForm',
        props: [],
        data() {
            return {
                noteText: '',
                showResult: false,
                resultText: '',
                alertClass: ''
            }
        },
        methods: {
            addnote() {
                if (this.noteText.trim() === '') {
                    return false;
                }
                let noteText = this.noteText.replace(/\n/g, '<br>');
                let vm = this;
                let url = '/api/notes';

                let body = {
                    text: noteText
                };

                fetch(url, {
                    method: 'POST',
                    body: JSON.stringify(body),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then((response) => {
                        vm.blinkResult();

                        if (!response.ok) {
                            throw Error(response.statusText);
                        }

                        return response.json();
                    })
                    .then((data) => {
                        vm.resultText = 'Note added';
                        vm.alertClass = 'alert-success';
                        vm.$emit('added', data);
                        vm.noteText = '';

                    })
                    .catch((e) => {
                        vm.resultText = 'Couldn\'t add note to server: ' + e.message;
                        vm.alertClass = ' alert-danger';

                    });
            },
            blinkResult() {
                this.showResult = true;
                setTimeout(() => {
                    this.showResult = false;
                }, 2000);
            }
        }

    }
</script>

<style lang="scss">

</style>
