<template>
    <li class="list-group-item note">
        <div class="d-flex">
            <div v-html="note.text"></div>
            <span class="remove-lnk ml-auto" v-on:click="removeNote(note)">&times;</span>
        </div>
        <div class="alert alert-danger" v-if="showError">{{deleteError}}</div>
    </li>

</template>

<script>
    export default {
        name: 'Note',
        props: [
            'note'

        ],
        data() {
            return {
                'deleteError': '',
                'showError' : false
            }
        },
        methods: {
            removeNote(note) {
                if (confirm('really delete ?')) {

                    let vm = this;
                    let url = '/api/notes/' + note.id;
                    fetch(url, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                        .then((response) => {
                            if (!response.ok) {
                                throw Error(response.statusText);
                            }

                            return response.json();
                        })
                        .then(() => {
                            vm.$emit('deleted', note);
                        })
                        .catch((e) => {
                            vm.deleteError = 'Coudn\'t delete note: ' + e.message;
                            vm.blinkResult();
                        });

                }
            },
            blinkResult() {
                this.showError = true;
                setTimeout(() => {
                    this.showError = false;
                }, 2000);
            }
        }

    }
</script>

<style lang="scss">
    @import "~bootstrap/scss/bootstrap";

    .remove-lnk {
        display: none;
        cursor: pointer;
        font-weight: bold;
    }

    .note:hover {
        background: $gray-100;

        .remove-lnk {
            display: block;
        }
    }
</style>
