<template>
    <div class="container">
        <div class="loading" v-if="!loaded && !isError">
            loading...
        </div>
        <div class="card" v-if="loaded && notes.length !== 0">
            <div class="card-header">
                Notes ({{notes.length}}):
            </div>
            <transition-group name="list" tag="ul" class="list-group list-group-flush">
                <Note v-for="note in notes" v-bind:note="note" v-bind:key="note.id" v-on:deleted="deleted"/>
            </transition-group>
        </div>
        <div class="alert alert-warning" v-if="loaded && notes.length === 0">no notes</div>

        <div class="alert alert-danger" v-if="isError">
            {{errorMsg}}
        </div>
        <h2 class="mt-4 mb-2">Add note</h2>
        <AddNoteForm v-on:added="noteAdded"/>
    </div>

</template>

<script>
    import Note from "@/components/Note";
    import AddNoteForm from "@/components/AddNoteForm";

    export default {
        name: 'NotesList',
        props: {},
        components: {
            Note,
            AddNoteForm
        },
        data() {
            return {
                notes: [],
                loaded: false,
                isError: false,
                errorMsg: ''
            }
        },
        created() {
            this.loadNotes();
        },
        methods: {
            loadNotes() {
                let vm = this;
                let url = '/api/notes';
                vm.loaded = false;
                fetch(url)
                    .then((response) => {
                        if (!response.ok) {
                            throw Error(response.statusText);
                        }

                        return response.json();
                    })
                    .then((data) => {
                        vm.loaded = true;
                        vm.notes = data;
                    })
                    .catch((e) => {
                        vm.errorMsg = 'Couldn\'t fetch notes from server: ' + e.message;
                        vm.isError = true;
                    });
            },
            noteAdded(note) {
                this.notes.push(note);
            },
            deleted(note) {
                let index = this.notes.indexOf(note);
                this.notes.splice(index, 1);
            }
        },
    }
</script>

<style lang="scss">
    .list-enter-active, .list-leave-active {
        transition: all 1s;
    }

    .list-enter /* .list-leave-active below version 2.1.8 */
    {
        opacity: 0;
        transform: translateX(30px);
    }

    .list-leave-to {
        opacity: 0;
        transform: scaleY(0);
    }

</style>
